<strong>Olá</strong>
<p>Aqui estão as informações do seu pacote:</p>
<br />
<p>
    Hotel: <strong>{{hotel_price}}</strong><br />
    Tarifas: <strong>{{fee}}</strong><br />
    Passagem({{adults}}): <strong>{{ticket_price}}</strong><br />
</p>
<hr />
<p>Total: <strong>{{total}}</strong></p>
